button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-bg-btn);
    font-family: lato;
    color: var(--primary-color);
    cursor: pointer;
    transition: border-color 0.25s;
    border-color: #3131316d;
    &:hover{
      border-color: #ffffff;
    }

    &:focus{
      outline: 4px auto -webkit-focus-ring-color;
    }
    &:focus-visible{
      outline: 4px auto -webkit-focus-ring-color;
    }

    
  }



  .add-btn{
    color: var(--primary-color);
  }

  .add-Toys{
    margin-bottom: 20px;
  }

