.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.toy-preview {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.502);
    border-radius: 20px;
    padding: 10px;

}

.btn-preview {
    /* position: absolute;
    bottom: 0; */

}

.toy-preview article {
    @include preview-card;

    &.outStock {


        @include preview-card("outStock")
    }
}

.preview-img {

    @include img-toy;

    &.outStock {


        @include img-toy("outStock")
    }


}



.toy-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px;


}

.details-img {
    width: 30%;
    border-radius: 30px;
}


.remove-btn {
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 1px;
    top: 1px;
}

.msg-editor{
    display: grid;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;


}