.login-set{
    position: absolute;
    background-color:$clr2;
    padding: 20px 10px 20px 10px;
    margin: 0;
    right: 0;
    
    input{
        padding: 0.4rem 1rem;
        border: 2px solid #777;
        border-radius: 8px;
        outline: none;
        background-color: var(--primary-bg-btn);
        color: #0d0c22;
        transition: 0.3s ease;
    }

   &::placeholder {
        color: #9e9ea7;
      }
      
     

    a{
        padding: 0.1rem 1rem;
        border: 1px solid #7777772d;
        border-radius: 8px;
        outline: none;
        background-color: var(--primary-bg-btn);
        color: #0d0c22;
        transition: 0.3s ease;
        color: $clr1;
    }
  }