header {
  padding: 0.8rem;
  padding-top: 0;
  border-radius: 3px;
  border-top: none;
}

header .logo {
  width: 8rem;
  cursor: pointer;
  margin-inline-end: 1rem;
  padding-bottom: 8px;
}

.left-header {
  gap: 10px;
  justify-content: center;
}

.nav-container-ben {
  font-size: 1.5rem;
  display: inline-block;
}

.main-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px rgba(0, 0, 0, 0.033);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.main-nav a {
  color: var(--primary-base);
}

.main-nav a:hover{
  color: aliceblue;
}